<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}PHP Sample Website{% endblock %}</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<header>
  <h1>My PHP Site</h1>
</header>
{% block body %}{% endblock %}
<footer>
  <p>&copy; 2025 Sample Site</p>
</footer>
</body>
</html>
